.nav-wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.logo {
  height: 100%;

  float: left;
}
.tabs {
  box-sizing: border-box;
  display: flex;
  height: 100%;

  float: right;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.tab-span {
  float: left;
  margin-right: 20px;
}

.tab-span a {
  text-decoration: none;
  float: left;
  margin-right: 35px;
  font-family: "Abril Fatface", cursive;
  font-size: 28px;
  color: #416686;
}

.tab-span a:hover {
  font-size: 30px;
  color: #416686;
}

.img-span {
  float: right;
}

.chart-logo {
  height: 50px;
  width: 50px;
  margin: 0;
}

.chart-logo:hover {
  content: url("../asset/hover.png");
}

@media only screen and (max-width: 550px) {
  .logo {
    height: 90%;
    margin: 0 10%;
  }
  .tabs {
    height: 90%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5%;
  }
}
