.stat-wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.infected {
  box-sizing: border-box;
  height: 90%;
  width: 40%;
  background-color: white;
  float: left;
  padding: 15px;
  box-shadow: 5px 5px 8px 5px #c5e7f7;
}

.recovered {
  box-sizing: border-box;
  height: 90%;
  width: 40%;
  background-color: white;
  float: right;
  padding: 15px;
  box-shadow: 5px 5px 15px 5px #f2d9e5;
}

.title {
  box-sizing: border-box;
  height: 16%;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}

.infected .title {
  color: #00695c;
}

.infected .numbers {
  color: teal;
}

.recovered .title {
  color: #e75480;
}
.recovered .numbers {
  color: lightcoral;
}

.date {
  box-sizing: border-box;
  padding-top: 1%;
  height: 20%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: gray;
}
.numbers {
  box-sizing: border-box;
  padding-top: 3%;
  height: 60%;
  font-size: 3vh;
  border-bottom: 2px ridge black;
  font-family: "Stardos Stencil", cursive;
}

@media only screen and (max-width: 1150px) {
  .stat-wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 75%;
    margin: 0 auto;
  }
  .numbers {
    height: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .stat-wrapper {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .infected {
    height: 35%;
    width: 80%;
    margin-bottom: 5%;
  }

  .recovered {
    height: 35%;
    width: 80%;
  }

  .numbers {
    height: 50%;
  }
}
