.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  box-sizing: border-box;
  min-height: 12vh;
  margin-bottom: 1.5%;
  display: fixed;
}

.stats {
  box-sizing: border-box;
  height: 15vh;
  margin-bottom: 2%;
}

.map {
  box-sizing: border-box;
  height: 88vh;
  margin-bottom: 2%;
}

.least-affected {
  box-sizing: border-box;
  height: 160vh;
  margin-bottom: 2%;
}

footer {
  box-sizing: border-box;
  height: 10vh;
  background-color: #416686;
}

/* @media only screen and (max-width: 100px) {
  .nav {
    box-sizing: border-box;
    min-height: 12vh;
    margin-bottom: 1.5%;
    display: fixed;
  }

  .stats {
    box-sizing: border-box;
    height: 15vh;
    margin-bottom: 2%;
  }

  .map {
    box-sizing: border-box;
    height: 88vh;
    margin-bottom: 2%;
  }

  .least-affected {
    box-sizing: border-box;
    height: 160vh;
    margin-bottom: 2%;
  }

  footer {
    box-sizing: border-box;
    height: 10vh;
    background-color: #416686;
  }
} */
